<div class="images">
  <% @pictures.each do |picture| %>
    <div class="image-container">
      <%= image_tag picture.url %>
      <h3><%= picture.title %></h3>
      <p><%= picture.description %></p>
    </div>
  <% end %>
</div>

<%= link_to "Add a picture", new_picture_path, class: 'add-picture-link' %>
